@import '../../styles/variables.scss';

.cart {
  display: flex;
  flex-direction: column;

  &-books {
    display: flex;
    flex-direction: column;
    font-size: 4rem;

    .cart-empty {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cart-card:last-child {
      margin-bottom: 72px;
    }
  }

  &-total {
    width: 256px;
    font-family: 'Bebas Neue';
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 72px;
    align-self: flex-end;

    p {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }
  }
}
