$color-primary-black: #313037;
$color-primary-gray: #5B5A62;
$color-secondary-gray: #A8A8A8;

$bg-color-gray: #E7E7E7;
$bg-color-light: #F7F7F7;

$color-red-light: #FC857F;
$color-blue: #D7E4FD;
$color-green: #CAEFF0;
$color-orange: #FEE9E2;
$color-purple:#F4EEFD;


$font-family-default: 'HeliosC', serif;
