@import '../../styles/variables.scss';

.subscribe {
  height: 288px;
  padding: 56px 64px;
  background-color: $color-green;
  margin-bottom: 72px;

  h2 {
    font-family: 'Bebas Neue';
    font-size: 4rem;
    margin-bottom: 20px;
  }

  p {
    font-family: $font-family-default;
    font-size: 1.8rem;
    color: $color-secondary-gray;
    margin-bottom: 32px;
  }

  &-bottom {
    display: flex;

    input {
      width: 845px;
      height: 56px;
    }

    .button-subscribe {
      width: 147px;
    }
  }
}
